@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,500&display=swap');


body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Poppins;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
}

label input, div{
    width: 15rem;
}

div{
    display: flex;
    justify-content: space-between;
}

div p {
    font-size: 10.5px;
}